.container {
    display: flex;
    flex-direction: column;
    background: rgb(116, 116, 116);
}
.loading {
    display: none;
}

.header {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, rgba(38,37,42,1) 20%, rgba(1,1,14,1) 80%);
}
.title {
    color: #ffd007;
    font-size: 30px;
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh ;
}
.left {
    display: flex;
    align-items: center;
    justify-content: left;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.file {
    border: 1px dashed #ffd007;
    cursor: pointer;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.file-input {
    display: none;
}
.file-icon {
    height: 60px;
}
.input-button {
    margin-bottom: 20px;
    width: 360px;
    height: 50px;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #f8e17d 5%, #ffd207e0 100%);
	border-radius:42px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.input-button:hover {
    background:linear-gradient(to bottom, #ffbf00 5%, #f8e17d 100%);
}
.input-button:disabled {
    width: 360px;
    height: 50px;
    cursor: not-allowed;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #ffffff 5%, #3a3939e0 100%);
	border-radius:42px;
	border:2px solid #333029;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
}
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 80px;
}
a.input-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.instructions-img {
    width: 40%;
    align-self: center;
}
@media (max-width: 500px){
    .box {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .right {
        justify-content: center;
        margin: 110px 0 45px;
    }
    .input{
        margin-bottom: 0px;
    }
    .file {
        height: 150px;
        width: 300px;
    }
    .instructions {
        width: 85%;
        height: 100%;
        margin-left: 35px;
    }
    .input-button + a {

    }
    
    
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #ffbf00;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 10px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ffbf00;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  